.footer{
    padding: 30px;
    background: #F6F6F6;
}
.widget{
    h4{
        font-size: 20px
    }
    ul{
        @include list-clear;
    }
    &.footer-nav{
        li{
            display: inline-block;
            margin-right: 25px;
            a{
                color: $heading-color;
            }
        }
    }
}